<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_events_new') }}">Create</a>
                </li>
            </ul>
    <form action="{{ path('app_events_index') }}" method="get" class="d-flex align-items-center">
    <div class="input-group">
        <input type="text" class="form-control" id="searchQuery" name="searchQuery" value="{{ app.request.query.get('searchQuery') }}" placeholder="Search by type or name">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
        </div>
    </div>
</nav>
